In [1]:
import pandas as pd

In [3]:
df = pd.read_pickle('final.pkl')

In [5]:
df['category_main'] = df['category_code'].str.split('.').str[0]

categorie = {
    'electronics': 1,
    'auto': 2,
    'appliances': 3,
    'computers': 4,
    'apparel': 5,
    'furniture': 6,
    'kids': 7,
    'construction': 8,
    'sport': 9,
    'accessories': 10,
    'country_yard': 11,
    'medicine': 12,
    'stationery': 13
}

df['category_num'] = df['category_main'].map(categorie)

In [7]:
df = df.drop('event_time', axis = 1)

In [8]:
df = df.drop('category_code', axis = 1)

In [9]:
df = df.drop('category_id', axis = 1)

In [13]:
df['category_num'] = df['category_num'].fillna(0).astype(int)

In [14]:
import statsmodels.api as sm

In [17]:
X = df[['price','category_num']]
y = df['purchase']

In [19]:
X = sm.add_constant(X)

In [21]:
model = sm.OLS(y, X).fit()

In [29]:
df.head(-1)

,product_id,brand,price,user_id,day,week,month,year,cart,purchase,view,category_num
0,1801805,artel,231.60,536042235,0,3,10,1,0,0,1,1
1,1004870,samsung,284.02,517143806,0,3,10,1,1,0,0,1
2,5701087,jvc,51.48,556492770,3,0,10,1,0,0,1,2
3,1003317,apple,951.99,521082756,4,2,10,1,0,0,1,1
4,1005160,xiaomi,224.14,536962600,0,3,10,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10443700,11000101,philips,46.31,547678064,3,2,4,2,0,0,1,3
10443701,1005004,huawei,214.65,574177317,1,1,4,2,0,0,1,8
10443702,16200137,pampers,10.98,586450742,4,2,4,2,0,0,1,10
10443703,1306895,hp,596.93,644915036,4,3,4,2,0,0,1,1
10443704,1005116,apple,1009.03,640901685,3,3,4,2,1,0,0,8

In [25]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               purchase   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                 1.458e+04
Date:                Mon, 17 Jun 2024   Prob (F-statistic):               0.00
Time:                        13:50:24   Log-Likelihood:             3.3029e+07
No. Observations:            55471381   AIC:                        -6.606e+07
Df Residuals:                55471378   BIC:                        -6.606e+07
Df Model:                           2
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const            0.0127   3.72e-05    342.435      0.000       0.013       0.013
price         2.267e-06   4.84e-08     46.831      0.000    2.17e-06    2.36e-06
category_num     0.0010   6.11e-06    165.961      0.000       0.001       0.001
==============================================================================
Omnibus:                 69292019.924   Durbin-Watson:                   1.999
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       6284733298.579
Skew:                           7.217   Prob(JB):                         0.00
Kurtosis:                      53.108   Cond. No.                     1.02e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.02e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [27]:
df = df.drop('category_main', axis = 1)

In [31]:
dff = df.to_pickle('forecasting_dataset.pkl')