In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('2020-Feb.csv')

In [7]:
df.head(-1)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2020-02-01 00:00:00 UTC,view,100010426,2232732115290555244,apparel.shoes,NaN,19.31,581521975,82d5664d-7980-43e1-ab27-a2f05e991760
1,2020-02-01 00:00:00 UTC,view,100071077,2232732079706079299,sport.bicycle,crown,11.88,596313635,3df590c0-e667-4f5a-aa87-f47749cd6408
2,2020-02-01 00:00:00 UTC,view,1004665,2232732093077520756,construction.tools.light,samsung,838.23,608821035,3e271f43-db51-46bd-b215-c2907ed1a204
3,2020-02-01 00:00:01 UTC,view,1002544,2232732093077520756,construction.tools.light,apple,410.42,530488542,21f46782-fb36-4d5c-82d4-6dc26ae93fad
4,2020-02-01 00:00:01 UTC,view,100010151,2053013563835941749,appliances.kitchen.refrigerators,pulser,332.03,583795643,eddfe0e2-12f8-4357-b453-00786c9b0319
...,...,...,...,...,...,...,...,...,...
55318559,2020-02-29 23:59:56 UTC,view,5801655,2232732082390433922,electronics.audio.subwoofer,element,115.81,532539344,4480785c-bae8-4d7e-b78b-4fc144580ece
55318560,2020-02-29 23:59:57 UTC,view,100118024,2232732099436085763,construction.tools.welding,a-case,1.93,519011545,57732f68-9928-47ff-bf88-09a7767fe86c
55318561,2020-02-29 23:59:58 UTC,view,12200332,2053013553325015316,appliances.kitchen.toster,phoenix,77.20,540823940,f7c7cdc5-5952-4337-8f3d-1afdb5457c9f
55318562,2020-02-29 23:59:58 UTC,view,6902464,2232732078733000751,electronics.telephone,zlatek,49.91,531574188,48714293-b3f9-4946-8135-eb1ea05ead74
55318563,2020-02-29 23:59:59 UTC,view,100103966,2053013560530830019,electronics.camera.video,bq,10.77,614934914,71920ba0-0e94-4f73-b7ae-e5e411d6765f

In [7]:
def clean_data(df):
    df['event_time'] = pd.to_datetime(df['event_time'])
    data = df.drop('user_session', axis = 1)
    cleaned_data = data.dropna(subset=['category_code'])
    cleaned_data2 = cleaned_data.dropna(subset=["brand"])
    cleaned_data3 = cleaned_data2.dropna(subset=["event_type"])
    cleaned_data4 = cleaned_data3.dropna(subset=["user_id"])
    cleaned_data5 = cleaned_data4.dropna(subset=["product_id"])
    cleaned_data6 = cleaned_data5.dropna(subset=["category_id"])
    cleaned_data7 = cleaned_data6.dropna(subset=["product_id"])
    cleaned_data8 = cleaned_data6.dropna(subset=["event_time"])
    cleaned_data9 = cleaned_data8.dropna(subset=["price"])
    return cleaned_data9

In [5]:
def filter_data(cleaned_data9):
    final_data = cleaned_data9.sample(frac=0.2, random_state=42)
    return final_data

In [9]:
data1 = filter_data(df)

In [11]:
data2 = clean_data(data1)

In [17]:
data3 = data2.to_csv('2020-Feb_sample.csv', index = False)

In [19]:
data2.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id
45485036,2020-02-23 06:07:43+00:00,view,100069215,2232732099981345295,appliances.personal.massager,msi,373.70,512776751
54938674,2020-02-29 15:30:45+00:00,view,100022268,2232732095074009504,construction.tools.welding,fubag,95.14,547828679
12775687,2020-02-07 13:30:01+00:00,view,1005203,2232732093077520756,construction.tools.light,xiaomi,104.74,520328914
1444946,2020-02-01 13:36:09+00:00,view,1004659,2232732093077520756,construction.tools.light,samsung,665.58,514534165
27736954,2020-02-14 15:33:32+00:00,view,2702277,2232732091718566220,appliances.kitchen.refrigerators,lg,463.33,599387918